<a href="https://colab.research.google.com/github/rafapedra/Data_Science_Projects/blob/master/Desafios_Python_Awari_Rafael_Pedra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafios Awari Python

1) Escreva um programa em Python para contabilizar a quantidade de ocorrências de cada palavra.

In [1]:
palavras = [ 'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes', 'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange', 'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]

In [2]:
contagem = {}
for cadapalavra in palavras:
  total = palavras.count(cadapalavra)
  contagem[f'{cadapalavra}'] = total
print(contagem)

{'red': 4, 'green': 4, 'black': 5, 'pink': 6, 'white': 5, 'eyes': 1, 'orange': 4}

2) Escreva uma função que receba um número inteiro de horas e converta esse número para segundos.

In [3]:
def conversor_hora_segundos(numero):
  print (numero*3600)

In [4]:
conversor_hora_segundos(1)
conversor_hora_segundos(10)
conversor_hora_segundos(3)

3600
36000
10800

3) Escreva uma função que receba uma lista e retorne uma nova lista ordenada e sem valores duplicados.

In [5]:
lista = [1,2,3,4,3,30,3,4,5,6,9,3,2,1,2,4,5,15,6,6,3,13,4,45,5]

In [6]:
def listaordenada(entrada):
  lista_final = list(set(entrada))
  lista_final.sort()
  print(lista_final)

In [7]:
listaordenada(lista)

[1, 2, 3, 4, 5, 6, 9, 13, 15, 30, 45]

Escreva uma função cuja entrada é uma string e a saída é outra string com as palavras em ordem inversa.

In [8]:
def inverte_texto(texto):
  lista = texto.split()
  lista.reverse()
  texto_invertido = ' '.join(lista)
  print(texto_invertido)

In [9]:
inverte_texto('Eu sou o Mestre Yoda e falo tudo em ordem')

ordem em tudo falo e Yoda Mestre o sou Eu

5)Você trabalha em uma loja de sapatos e deve contatar uma série de clientes. Seus números de telefone estão na lista abaixo. No entanto, é possível notar números duplicados na lista dada. Você seria capaz de remover estes duplicados para evitar que clientes sejam contatados mais de uma vez?

In [10]:
numeros_telefone = [
'(765) 368-1506',
'(285) 608-2448',
'(255) 826-9050',
'(554) 994-1517',
'(285) 608-2448',
'(596) 336-5508',
'(511) 821-7870',
'(410) 665-4447',
'(821) 642-8987',
'(285) 608-2448',
'(311) 799-3883',
'(935) 875-2054',
'(464) 788-2397',
'(765) 368-1506',
'(650) 684-1437',
'(812) 816-0881',
'(285) 608-2448',
'(885) 407-1719',
'(943) 769-1061',
'(596) 336-5508',
'(765) 368-1506',
'(255) 826-9050',
]

Removendo números duplicados para evitar reclamações de clientes em contato duplicado.

In [11]:
set(numeros_telefone)

{'(255) 826-9050',
 '(285) 608-2448',
 '(311) 799-3883',
 '(410) 665-4447',
 '(464) 788-2397',
 '(511) 821-7870',
 '(554) 994-1517',
 '(596) 336-5508',
 '(650) 684-1437',
 '(765) 368-1506',
 '(812) 816-0881',
 '(821) 642-8987',
 '(885) 407-1719',
 '(935) 875-2054',
 '(943) 769-1061'}

6)Crie uma função que receba duas listas e retorne uma lista que contenha apenas os elementos comuns entre as listas (sem repetição). A função deve suportar lista de tamanhos diferentes.

listas:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [12]:
#Recebendo as listas

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [13]:
def duplicados(lista1, lista2):
  set_1 = set(lista1)
  set_2 = set(lista2)
  final = list(set_1.intersection(set_2))
  print(final)

In [14]:
duplicados([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

[1, 2, 3, 5, 8, 13]

7)Um professor de universidade tem uma turma com os seguintes números de telefones:

In [15]:
telefones_alunos = ['(873) 810-8267', '(633) 244-7325', '(300) 303-5462', 
                    '(938) 300-8890', '(429) 264-7427', '(737) 805-2326', 
                    '(768) 956-8497', '(941) 225-3869', '(203) 606-9463', 
                    '(294) 430-7720', '(896) 781-5087', '(397) 845-8267', 
                    '(788) 717-6858', '(419) 734-4188', '(682) 595-3278', 
                    '(835) 955-1498', '(296) 415-9944', '(897) 932-2512', 
                    '(263) 415-3893', '(822) 640-8496', '(640) 427-2597', 
                    '(856) 338-7094', '(807) 554-4076', '(641) 367-5279', 
                    '(828) 866-0696', '(727) 376-5749', '(921) 948-2244', 
                    '(964) 710-9625', '(596) 685-1242', '(403) 343-7705', 
                    '(227) 389-3685', '(264) 372-7298', '(797) 649-3653', 
                    '(374) 361-3844', '(618) 490-4228', '(987) 803-5550', 
                    '(228) 976-9699', '(757) 450-9985', '(491) 666-5367',
                    ]

Ele criou um grupo do WhatsApp. No entanto, somente os seguintes números entraram no grupo.

In [16]:
entraram_no_grupo = ['(596) 685-1242', '(727) 376-5749', '(987) 803-5550', 
                     '(633) 244-7325', '(828) 866-0696', '(263) 415-3893', 
                     '(203) 606-9463', '(296) 415-9944', '(419) 734-4188', 
                     '(618) 490-4228', '(682) 595-3278', '(938) 300-8890', 
                     '(264) 372-7298', '(768) 956-8497', '(737) 805-2326', 
                     '(788) 717-6858', '(228) 976-9699', '(896) 781-5087',
                     '(374) 361-3844', '(921) 948-2244', '(807) 554-4076', 
                     '(822) 640-8496', '(227) 389-3685', '(429) 264-7427', 
                     '(397) 845-8267']

Você seria capaz de criar uma lista dos alunos que ainda não entraram no grupo para que sejam contatados individualmente?

In [17]:
from pprint import pprint
alunos = set(telefones_alunos)
alunos_grupo = set(entraram_no_grupo)
alunos_fora_grupo = list(alunos.difference(alunos_grupo))
pprint(alunos_fora_grupo)

['(641) 367-5279',
 '(797) 649-3653',
 '(403) 343-7705',
 '(941) 225-3869',
 '(300) 303-5462',
 '(757) 450-9985',
 '(856) 338-7094',
 '(897) 932-2512',
 '(491) 666-5367',
 '(873) 810-8267',
 '(964) 710-9625',
 '(640) 427-2597',
 '(835) 955-1498',
 '(294) 430-7720']

8)Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo.

In [19]:
from google.colab import files
uploaded = files.upload()
from operator import itemgetter
with open('exerciciooito.txt', 'r') as f:
    dic = {}    
    conteudo = f.read().replace('.', ' ').replace('-', ' ').replace(',', ' ').replace(')', ' ')
    for palavra in conteudo.split():
        dic[f'{palavra}'] = len(palavra)
        ordem = sorted(dic.items(), key=itemgetter(1), reverse=True)
    for k, v in enumerate(ordem):
        if k < 10:
            print(v[0], v[1])

Saving exerciciooito.txt to exerciciooito.txt
eitaquepalavracumpridaemenorqueinconsticionalissimamente 56
inconstitucionalissimamente 27
criativididade 14
leituras 8
tabajara 8
arquivo 7
acabou 6
não 3
sqn 3
a 1

9) Escreva uma função que retorne a soma dos múltiplos de 3 e 5 entre 0 e um número limite (parâmetro). Por exemplo, se o limite for 20, ele retornará a soma de 3, 5, 6, 9, 10, 12, 15, 18, 20.

In [25]:
def soma_multiplos(limite):
  lista = [num for num in range(1, limite + 1) if num % 3 == 0 or num % 5 == 0]
  soma = sum(lista)
  print(soma)

In [26]:
# Limitando a 20
soma_multiplos(20)

98

10) Dada uma lista, divida-a em 3 partes iguais e reverta cada lista.

Exemplo:

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Parte 1 [8, 45, 11]

Parte 2 [12, 14, 23]

Parte 3 [89, 45, 78]

In [27]:
listaexemplo = [11, 45, 8, 23, 14, 12, 78, 45, 89]
l1 = []
l2 = []
l3 = []
qtde = len(listaexemplo) / 3
if qtde.is_integer():
  for elem in listaexemplo:
      if len(l1) < qtde:
          l1.append(elem)
          parte_1 = reversed(l1)
      elif len(l2) < qtde:
          l2.append(elem)
          parte_2 = reversed(l2)
      else:
          if len(l3) < qtde:
              l3.append(elem)
              parte_3 = reversed(l3)
  print(f'Parte 1: {list(parte_1)}'
        f'\nParte 2: {list(parte_2)}'
        f'\nParte 3: {list(parte_3)}')
else:
  print('A lista não pode ser dividida em 3 partes iguais!')

Parte 1: [8, 45, 11]
Parte 2: [12, 14, 23]
Parte 3: [89, 45, 78]

11) Dados uma sequência com n números inteiros, determinar quantos números da sequência são pares e quantos são ímpares. Por exemplo, para a sequência

6   2   7  -5   8  -4

a sua função deve retornar o número 4 para o número de pares e 2 para o de ímpares. A saída deve ser um tupla contendo primeiramente o número de pares e em seguida o número de ímpares. Para o exemplo anterior, a saída seria (4, 2).

In [28]:
def contar_pares_impares(entrada):
    par = impar = 0
    lista = []
    for num in entrada:
      if num % 2 == 0:
        par += 1
      else:
        impar += 1
    lista.append(par)
    lista.append(impar)
    return tuple(lista)

In [31]:
# Testando algumas entradas
msg_erro = "Saída da função para a entrada {} deveria ser {}"

entrada = [6, 2, 7, -5, 8, -4]
saida_esperada = (4, 2)
assert contar_pares_impares(entrada)==saida_esperada, msg_erro.format(entrada, saida_esperada)

entrada = [-3, 2, 7, -5, 8, -4]
saida_esperada = (3, 3)
assert contar_pares_impares(entrada)==saida_esperada, msg_erro.format(entrada, saida_esperada)


# Se nenhuma mensagem for impressa abaixo, significa que a função está implementada corretamente

12) creva uma função em Python para verificar a validade de uma senha.

Validação:

Pelo menos 1 letra entre [a-z] e 1 letra entre [A-Z].
Pelo menos 1 número entre [0-9].
Pelo menos 1 caractere de [$ # @].
Comprimento mínimo de 6 caracteres.
Comprimento máximo de 16 caracteres.
Entradas: "12345678", "J3sus0", "#Te5t300", "J*90j12374", "Michheeul", "Monk3y6"

A saída deve ser a senha e um texto indicando se a senha é válida ou inválida:

"1234" - Senha inválida
"Qw#1234" - Senha válida

In [32]:
lista_senhas = ['12345','I2123avad','$wTt1999','am@R2','1234','NãOÉminha2121']

In [33]:
import re
def valida_senhas(password):
    regex = re.compile(r'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@]).{6,16}$',
                       flags=re.M)
    resultado = re.findall(regex, password)
    if resultado:
        print(f'"{password}" - Senha válida')
    else:
        print(f'"{password}" - Senha inválida')


for senha in lista_senhas:
    valida_senhas(senha)

"12345" - Senha inválida
"I2123avad" - Senha inválida
"$wTt1999" - Senha válida
"am@R2" - Senha inválida
"1234" - Senha inválida
"NãOÉminha2121" - Senha inválida