<a href="https://colab.research.google.com/github/rafapedra/Data_Science_Projects/blob/master/Exerc%C3%ADcio_com_Pandas_Rafael_Pedra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tarefa: Exercícios com Pandas
Como vimos, a maior parte do trabalho do cientista de dados consiste na transformação e limpeza dos dados. Esta é uma etapa essencial antes da construção de modelos de Machine Learning.

Chegou o momento de aplicar seu aprendizado.Neste link, você encontrará um conjunto de Jupyter Notebooks com diversas tarefas de manipulação e limpeza de dados.Para executar as tarefas, o aluno deve dominar as seguintes habilidades:

Leitura de arquivos utilizando a biblioteca Pandas
Descrição dos principais atributos do DataFrame (número de linhas, colunas, tipos de dados, etc.)
Filtragem de dados
Cálculo de estatísticas básicas (ex: média)
Ordenação de dados
Transformação e limpeza de dados

Passo 1. Importando os dados
Carregue os dados salvos no arquivo datasets/users_dataset.csv.

Esse arquivo possui um conjunto de dados de trabalhadores com 5 colunas separadas pelo símbolo "|" (pipe) e 943 linhas.

Dica: não se esqueça do argumento sep quando importar os dados.

# PARTE 1 - USANDO O DATASET USERS_DATASET

In [3]:
import pandas as pd

In [4]:
from google.colab import files
uploaded = files.upload()

Saving users_dataset.csv to users_dataset (3).csv

In [5]:
users = pd.read_csv('users_dataset.csv', sep='|')

Passo 2. Mostre as 15 primeiras linhas do dataset.

In [6]:
users.head(15)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

Passo 3. Mostre as 10 últimas linhas

In [7]:
users.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

Passo 4. Qual o número de linhas e colunas do DataFrame?

In [8]:
users.shape

(943, 5)

# 943 linhas e 5 colunas

Passo 5. Mostre o nome de todas as colunas.

In [9]:
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

Passo 6. Qual o tipo de dado de cada coluna?

In [10]:
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

Passo 7. Mostre os dados da coluna occupation.

In [11]:
users['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

Passo 8. Quantas ocupações diferentes existem neste dataset?

In [12]:
len(users['occupation'].unique())

21

Passo 9. Qual a ocupação mais frequente?

In [13]:
users['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

# Estudantes é a ocupação mais frequente

Passo 10. Qual a idade média dos usuários?

In [14]:
users['age'].mean()

34.05196182396607

Passo 11. Utilize o método describe() para obter diversas informações a respeito do DataFrame.

In [15]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

# PARTE 2 - USANDO O DATASET CRIMES US 1960_2014

Tarefa 1. Importe o dataset e salve os dados em um dataframe

In [16]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving US_Crime_Rates_1960_2014.csv to US_Crime_Rates_1960_2014.csv

In [17]:
crime = pd.read_csv('US_Crime_Rates_1960_2014.csv')
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

Tarefa 2. Qual o tipo de dados em cada coluna?

In [18]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

In [20]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
crime['Year'].dtypes

dtype('<M8[ns]')

Tarefa 4. Configure a coluna Year como index do DataFrame.

In [21]:
crime.set_index('Year', inplace=True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

Tarefa 5. Remova a coluna Total do DataFrame.

In [22]:
crime.drop(columns='Total', inplace=True)
crime.columns

Index(['Population', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')

Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [23]:
crime[crime.index == '1978']['Vehicle_Theft']

Year
1978-01-01    1004100
Name: Vehicle_Theft, dtype: int64

Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos.

In [24]:
crime[crime['Murder'] == crime['Murder'].max()]

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1991-01-01,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700

Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [25]:
crime[crime['Vehicle_Theft'] == crime['Vehicle_Theft'].min()]['Murder']

Year
1960-01-01    9110
Name: Murder, dtype: int64

# PARTE 3 
Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.
Todos os datasets utilizados nos exercícios estão salvos na pasta datasets.

Tarefa 1. Importe o dataset e salve os dados em um dataframe

In [26]:
import pandas as pd

In [27]:
from google.colab import files
uploaded = files.upload()

Saving users_dataset.csv to users_dataset (4).csv

In [28]:
users = pd.read_csv('users_dataset.csv', sep='|')

In [29]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

Tarefa 2. Descubra qual a idade média por ocupação.

In [31]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [32]:
users.groupby('occupation').agg({'age': ['min', 'max']})

              age
              min max
occupation
administrator  21  70
artist         19  48
doctor         28  64
educator       23  63
engineer       22  70
entertainment  15  50
executive      22  69
healthcare     22  62
homemaker      20  50
lawyer         21  53
librarian      23  69
marketing      24  55
none           11  55
other          13  64
programmer     20  63
retired        51  73
salesman       18  66
scientist      23  55
student         7  42
technician     21  55
writer         18  60

Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

In [33]:
users.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579

In [34]:
df2 = users.groupby('occupation')['gender'].value_counts()
porcentagem = df2.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
porcentagem

occupation     gender
administrator  M          54.430380
               F          45.569620
artist         M          53.571429
               F          46.428571
doctor         M         100.000000
educator       M          72.631579
               F          27.368421
engineer       M          97.014925
               F           2.985075
entertainment  M          88.888889
               F          11.111111
executive      M          90.625000
               F           9.375000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         M          83.333333
               F          16.666667
librarian      F          56.862745
               M          43.137255
marketing      M          61.538462
               F          38.461538
none           M          55.555556
               F          44.444444
other          M          65.714286
               F          34.285714
programmer     M          90.909091
               F           9.090909
retired        M          92.857143
               F           7.142857
salesman       M          75.000000
               F          25.000000
scientist      M          90.322581
               F           9.677419
student        M          69.387755
               F          30.612245
technician     M          96.296296
               F           3.703704
writer         M          57.777778
               F          42.222222
Name: gender, dtype: float64